@import url();
*{
	padding: 0px;
	box-sizing:;
	margin:;
	cursor:url(), url(),auto;

}

body{
	font-family:;
	background-image:url(local img);
	background-attachment:fixed;
	background-size:cover;


}

h1{
background-color:;
margin:0px;
padding:0px;
font-family:'pacifico', cursive;
font-size:;
text-align:;
background:center center;
}

nav ul{
	
}